@charset "utf-8";
/* CSS Document */

html {
  font-size: 13px; /* set to 10pt in original css */
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
  background-color: #fdfdfd;
  margin: 0;
  position:relative;
  padding: 0;
  width: 100%;
  height: 100%;
}
td, th, p {
	font-size: 1rem;
	color: #333;
	line-height: 1.5;
}
th {
  text-align: left;
}
ul, li {
	font-size: 1rem;
	color: #333;
}
a {
  text-decoration: none;
}
select:hover, select:focus {
  color: #3397db; /* vivid cyan-blue */
  font-weight: 700;
  text-decoration: underline;
  outline: none;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#mainlist #maincontent {
  margin-top: 8.25rem;
}
#details #maincontent {
  margin-top: 12.375rem;
}

/* ====================== Footer ====================== */
footer {
  background-color: #444;
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 0.075rem;
  padding: 1.875rem;
  text-align: center;
  text-transform: uppercase;
}
footer a {
  color: darkorange;
}
footer a:hover, footer a:focus {
  color: #3397db;
  font-weight: 500;
  box-shadow: 0 2px 4px 0 #555,
              0 4px 2px -2px #777,
              0 2px 6px 0 #999;
}

/* ====================== Map ====================== */
#map-container, #map {
  width: 100%;
  height: 30rem;
  background-color: #ccc;
}

/* ====================== Navbar ====================== */
nav {
  top: 0;
  z-index: 1001;
  position: fixed;
  width: 100%;
  background-color: #252831;
  text-align:center;
}
#mainlist nav {
  height: 4.5rem;
  padding: 1.875rem 0;
}
#details nav {
  height: 10.5rem;
  padding: 1.875rem 0 0 0;
}
nav h1 a {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin: 0 0.375rem;
}
nav h1 a:focus {
  color: #3397db;
  font-weight: 500;
  text-decoration: none;
  outline: none;
  box-shadow: 0 2px 4px 5px #555,
              2px 0 4px 5px #777;
}

/* ====================== Skip Button ================================= */
.skip-button {
  position: absolute;
  z-index: 1002;
  top: 0;
  left: -1000px;
  background: red;
  color: white;
  padding: 8px;
}
.skip-button:focus {
  left: 0;
  display: block;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: calc(100% - 1rem);
  height: 6.5rem;
  background-color: #3397db;
  align-items: center;
  padding: 0.5rem;
}
.filter-options h2 {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0.55rem 0.65rem;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-size: 1.1rem;
  letter-spacing: 0;
  margin: 0.55rem 0.65rem;
  padding: 0.4rem;
  width: auto;
  height: 2.5rem;
}

/* ====================== Restaurants List ====================== */
.grid-container {
  background-color: #f3f3f3;
  margin: 0;
  align-items: center;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-rows: auto auto auto;
  padding: 1.125rem 0.75rem 2.25rem;
  justify-content: space-between;
  grid-gap: 0;
}
.grid-item {
  background-color: #fff;
  border: 0.15rem solid #ccc;
  margin: 0.375rem 0;
  padding: 0 1.65rem 1.5rem;
  text-align: left;
}
.img-container {
  width: 100%;
}
.img-container img {
  max-width: 100%;
  background-color: #ccc;
  display: block;
  margin: 0;
}
.grid-item h1 {
  color: darkorange;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 1.5rem 0 0.75rem;
  text-transform: uppercase;
}
.grid-item p {
  margin: 0;
  font-size: 1.1rem;
}
.grid-item a {
  background-color: darkorange;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  margin: 1.125rem 0 0;
  padding: 0.6rem 2.25rem 0.75rem;
  text-align: center;
  text-transform: uppercase;
}
.grid-item a:hover, .grid-item a:focus {
  color: #222222;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0 2px 4px 0 #555,
              0 4px 2px -2px #777,
              0 2px 6px 0 #999;
}

/* ====================== Restaurant Details - specific to restaurant.html====================== */
#restaurant-name {
  color: #f18200;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 1.125rem 0 2.25rem;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 95%;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.75rem;
  margin: 0 0 1.5rem;
  padding: 0.15rem 0;
  text-align: center;
  text-transform: uppercase;
	width: 95%;
}
#restaurant-address {
  font-size: 1.2rem;
  margin: 0.75rem 0;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
}
#restaurant-container {
  padding: 3rem 1.5rem 2.25rem;
  width: calc(100% - 3rem);
}
#reviews-container {
  padding: 0 1.7rem 3rem 1.3rem;
  width: calc(100% - 3rem);
}
#reviews-container h2 {
  color: #f58500;
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: -0.075rem;
  padding-left: 0.3rem;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 0.15rem solid #f3f3f3;
  border-top-left-radius: 1.125rem;
  border-bottom-right-radius: 1.125rem;
  display: block;
  list-style-type: none;
  margin: 0 0 3rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}
#restaurant-hours td {
  color: #666;
}
.upper-div {
  background-color: #252831;
  padding: 0.75rem;
  width: calc(100% - 1.5rem);
  height: 1.5rem;
}
.review-name {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  width: 30%;
  float: left;
}
.review-date {
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
  width: 70%;
  float: right;
  text-align: right;
}
.lower-div {
  background-color: white;
  padding: 0.75rem;
  width: calc(100% - 1.5rem);
}
.review-rating {
  padding: 0.375rem 0.525rem;
  width: 20%;
  color: white;
  background-color: orange;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  border-radius: 0.375rem;
}
.review-comments {
  padding: 0.75rem 0;
  color: #333;
}

/* ====================== Breadcrumb ====================== */
#breadcrumb {
  padding: 0.8rem 1.5rem 0.8rem;
  list-style: none;
  background-color: #eee;
  margin: 3.375rem 0 0 0;
  width: calc(100% - 3rem);
  text-align: left;
}
/* Display list items side by side */
#breadcrumb li {
  display: inline;
  font-size: 1.4rem;
}
/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 0.6rem;
  color: black;
  content: "/\00a0";
}
/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
}
/* Add a color on mouse-over */
#breadcrumb li a:hover, #breadcrumb li a:focus {
  color: #01447e;
  text-decoration: underline;
  outline: lightblue solid 3px;
  outline-offset: 1px;
}

/*
 * Media Queries
 */
@media screen and (max-width: 1500px) {
  .grid-container {
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: auto auto auto auto;
    padding: 1.125rem 0.75rem 2.25rem;
  }
}
@media screen and (max-width: 910px) {
  .grid-container {
    grid-template-columns: 48% 48%;
    grid-template-rows: auto auto auto auto auto;
    padding: 1.125rem 2rem 2.25rem;
  }
}
@media screen and (max-width: 780px) {
  .grid-container {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  }
}
